<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <%- include('./common/side.ejs');%>
    <div class="layout-main">
        <%- include('./common/header.ejs');%>
        <div class="layout-body">
            内容
        </div>
    </div>
</body>
</html>