/* 公用样式 */
html, body {
    height: 100%;
  }
  
  body {
    display: flex;
  }
  
  .layout-side {
    /* 不受压迫 */
    flex-shrink: 0; 
    width: 256px;
    height: 100%;
    background: #252526;
  }
  .layout-side a:hover{
    color: #e57869;
    text-decoration: none;
  }
  .layout-main {
    display: flex;
    flex-direction: column;
    flex: 1;
    background: #fff;
  }
  
  .layout-header {
    height: 50px;
    background: #252526;
    color: #fff;
  }
  
  .layout-body {
    flex: 1;
    overflow-y: auto;
  }
  
  .layout-side a {
    display: block;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #000;
    color: #fff;
    padding-left: 20px;
  }
  
  
  /* ============================= */
  .lv-table {
    width: 100%;
    border: 1px solid #000;
  }
  
  .lv-table th, .lv-table td {
    height: 50px;
    line-height: 50px;
    border: 1px solid #000;
    vertical-align: middle;
    text-align: center;
  }
  
  .lv-table .banner-img {
    display: block;
    margin: 0 auto;
    height: 50px;
  }